extends ../layouts/default.pug


block main
	main.main
		h1.box-title Thông tin website
		.section-8
			form(action="")
				.inner-group 
					label.inner-label(for="name") Tên website
					input(type="text" id="name" name="name" placeholder="Nhập tên website")
				.inner-group 
					label.inner-label(for="phone") Số điện thoại
					input(type="text" id="phone" name="phone" placeholder="Nhập số điện thoại")
				.inner-group 
					label.inner-label(for="email") Email 
					input(type="text" id="email" name="email" placeholder="Nhập email")
				.inner-group 
					label.inner-label(for="adress") Địa chỉ 
					input(type="text" id="adress" name="adress" placeholder="Nhập địa chỉ")
				.inner-group
					label.inner-label(for="logo") Logo
					.inner-upload-image
						input(type="file" id="logo" name="logo" filepond-image)
				.inner-group
					label.inner-label(for="favicon") Favicon
					.inner-upload-image
						input(type="file" id="favicon" name="favicon" filepond-image)
				.inner-button.inner-two-col
					button Cập nhật
			.inner-back 
				a(href=`/${pathAdmin}/setting/list`) Quay lại danh sách
		