extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main
		h1.box-title Tạo nhóm quyền

		.section-8
			form(action="" id="role-create-form")
				.inner-group 
					label.inner-label(for="name") Tên nhóm quyền *
					input(type="text" id="name" name="name")
				.inner-group 
					label.inner-label(for="description") Mô tả ngắn
					input(type="text" id="description" name="description")
				.inner-group 
					label.inner-label Phân quyền
					.inner-checkbox
						.inner-item 
							+checkbox-30("permissions", "permissions-1", "id-1")
							label(for="permissions-1") Xem trang Tổng quan
						.inner-item 
							+checkbox-30("permissions", "permissions-2", "id-2")
							label(for="permissions-2") Xem danh mục
						.inner-item 
							+checkbox-30("permissions", "permissions-3", "id-3")
							label(for="permissions-3") Tạo danh mục
						.inner-item 
							+checkbox-30("permissions", "permissions-4", "id-4")
							label(for="permissions-4") Sửa danh mục
						.inner-item 
							+checkbox-30("permissions", "permissions-5", "id-5")
							label(for="permissions-5") Xóa danh mục
				.inner-button.inner-two-col
					button Tạo mới
			.inner-back 
				a(href=`/${pathAdmin}/setting/role/list`) Quay lại danh sách
