extends ../layouts/default.pug
include ../mixins/checkbox-30.pug

block main
	main.main 
		h1.box-title Quản lý tour
		.main1
			//- Section 4
			.section-4
				.inner-wrap
					.inner-item.inner-label
						<i class="fa-solid fa-filter"></i> Bộ lọc
					.inner-item
						select
							option(value="") Trạng thái
							option(value="") Hoạt động
							option(value="") Tạm dừng
					.inner-item
						select
							option(value="") Người tạo
							option(value="") Lê Văn A
							option(value="") Lê Văn B
					.inner-item.inner-date
						input(type="date")
						span -
						input(type="date")
					.inner-item
						select
							option(value="") Danh mục
							option(value="") Danh mục 1
							option(value="") Danh mục 2
					.inner-item
						select
							option(value="") Mức giá
							option(value="") Mức giá 1
							option(value="") Mức giá 2
					.inner-item.inner-reset
						<i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
			//- End Section 4
			//- Section 5
			.section-5
				.inner-wrap
					.inner-change-status
						.inner-item
							select
								option(value="") -- Hành động --
								option(value="") Hoạt động
								option(value="") Dừng hoạt động
								option(value="") Xóa
						.inner-item
							button Áp dụng
					.inner-search
						<i class="fa-solid fa-magnifying-glass"></i>
						input(type="text" placeholder="Tìm kiếm")
					.inner-button-create
						a(href=`/${pathAdmin}/tour/create`)  + Tạo mới
					.inner-button-bin 
						a(href=`/${pathAdmin}/tour/trash`) Thùng rác
			//- End Section 5

		//- Section 6
		.section-6 
			.table-2 
				table 
					thead 
						tr 
							th.text-left
								+checkbox-30("", "")
							th.text-left Tên danh mục
							th.text-center Ảnh đại diện
							th.text-left Giá 
							th.text-left Còn lại
							th.text-center Vị trí
							th.text-center Trạng thái
							th.text-left Tạo bởi
							th.text-left Cập nhật bởi
							th.text-left Hành động
					tbody 
						tr 
							td.text-left
								+checkbox-30("", "")
							td.text-left Danh mục 1
							td.text-center
								img.inner-image
							td.text-left 
								div NL: 1.900.000đ
								div TE: 1.600.000đ
								div EB: 1.000.000đ
							td.text-left 
								div NL: 30
								div TE: 20
								div EB: 10
							td.text-center 1
							td.text-center
								.status.status-green Hoạt động 
							td.text-left
								div Lê Văn A
								div.inner-small 16:30 - 20/10/2024
							td.text-left
								div Lê Văn A
								div.inner-small 16:30 - 20/10/2024
							td.text-left
								.box-actions 
									a(href="#" class="inner-edit")
										<i class="fa-solid fa-pen-to-square"></i>
									a(href="#" class="inner-remove")
										<i class="fa-solid fa-trash-can"></i>
						tr 
							td.text-left
								+checkbox-30("", "")
							td.text-left Danh mục 1
							td.text-center
								img.inner-image
							td.text-left 
								div NL: 1.900.000đ
								div TE: 1.600.000đ
								div EB: 1.000.000đ
							td.text-left 
								div NL: 30
								div TE: 20
								div EB: 10
							td.text-center 1
							td.text-center
								.status.status-red Tạm dừng
							td.text-left
								div Lê Văn A
								div.inner-small 16:30 - 20/10/2024
							td.text-left
								div Lê Văn A
								div.inner-small 16:30 - 20/10/2024
							td.text-left
								.box-actions 
									a(href="#" class="inner-edit")
										<i class="fa-solid fa-pen-to-square"></i>
									a(href="#" class="inner-remove")
										<i class="fa-solid fa-trash-can"></i>
			.pagination
				span(class="inner-label") Hiển thị 1 - 9 của 78
				select(class="inner-pagination")
					option Trang 1
					option Trang 2
					option Trang 3
		//- End Section 6