mixin breadcrumb()
	.breadcrumb
			.inner-image
				img.image(
					alt="Breadcrump-1 Image" 
					src="/client/assets/image/image-breadcrumb-1.jpg"
					)
			.inner-content
				.container
					.inner-wrap
						h3.inner-title Tour Nước Ngoài
						nav.inner-list
							a(href="#") Trang Chủ
							i.fa-solid.fa-angles-right
							a(href="#") Tour Nước Ngoài
	