header.header
	a(href=`/${pathAdmin}/dashboard` class="inner-left") Admin 
	.inner-right
		button.inner-button
			.inner-icon 
			.inner-number 6
			.inner-tick
		.inner-profile 
			.inner-logo
			.inner-inf 
				.inner-name Le Van A 
				.inner-role Admin
		.inner-menu 
			<i class="fa-solid fa-bars"></i>